<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application d'observation des Pingouins</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1 style="text-align: center;">Application d'observation des Pingouins</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Espece</th>
                <th>Ile</th>
                <th>Longueur Bec (mm)</th>
                <th>Profondeur Bec (mm)</th>
                <th>Longueur Nageoire (mm)</th>
                <th>Poids (G)</th>
                <th>Sexe</th>
                <th>Annee Naissance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for pingouin in pingouins %}
            <tr>
                <td>{{ pingouin._id }}</td>
                <td>{{ pingouin._espece }}</td>
                <td>{{ pingouin._ile }}</td>
                <td>{{ pingouin._bec_longueur }}</td>
                <td>{{ pingouin._bec_profondeur }}</td>
                <td>{{ pingouin._nageoire_longueur }}</td>
                <td>{{ pingouin._poids }}</td>
                <td>{{ pingouin._sexe }}</td>
                <td>{{ pingouin._annee_naissance }}</td>
                <td class="action-buttons">
                    <button class="modify">Modifier</button>
                    <button class="delete" onclick="deletePingouin({{ pingouin._id }})">Supprimer</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function deletePingouin(id) {
            if (confirm("Êtes-vous sûr de vouloir supprimer ce pingouin ?")) {
                fetch(`/delete_pingouin/${id}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        window.location.reload(); // Recharger la page après la suppression
                    } else {
                        alert("Erreur lors de la suppression du pingouin.");
                    }
                })
                .catch(error => {
                    console.error('Erreur:', error);
                });
            }
        }
    </script>
</body>
</html>
